<header>
    <div class="container">
        <div id="branding">
            <img src="/img/logoSiemens.png">
        </div>
        <nav>
            <ul>
                <li> <a href="/">        Home         </a> </li>
                <li> <a href="/student"> Student Home </a> </li>
                <li> <a href="/coach">   Coach Home   </a> </li>
            </ul>
        </nav>
    </div>
</header>