<h3 class = "classTitle"> <%=contents[keys[i]]["name"] %>     </h3>
<p class = "classDes"> <%=contents[keys[i]]["description"] %> </p>
<a href= <%= "student/"+keys[i] %>>        Study Class        </a>
