<html lang="en">
    <head> 
    	<meta charset = "UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="description" content="Vitrual Mixed Coach">
    	<meta name="author" content="Tianyuan Chen">
    	<link rel="stylesheet" href="./css/main.css">
    	<title>Virtual Mixed Coach | Home</title>
    </head>

    <body>
    	<!-- nav -->
    	<%- include('./partials/mainnav.ejs') %>

        <section id="frontshowcase">
            <div class="frontcontainer">
                <h1>Virtual Mixed Coach</h1>
                <p>An interactive teaching system for Siemens Healthineers. Coaches can use this website to build their own interactive teaching site which enables students to access from remote.</p>
            </div>
        </section>

        <section id="frontboxes">
            <div class = "frontlowercontainer">
                <div class="frontbox">
                    <h3>Student Side Description</h3>
                    <p>Student Study</p>
                </div>
                <div class="frontbox">
                    <h3>Coach Side Description</h3>
                    <p>Coach Edit</p>
                </div>
            </div>
        </section>

		<!-- Footer -->
 		<%- include('./partials/footer.ejs') %>
    </body>
</html>